<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href='/css/index.css'
</head>
<body>

<nav class="navbar navbar-inverse bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Udhay/</a>
    </div>
    <ul class="nav navbar-nav navbar-right text-white">
      <li class=''><a href="#">Projects</a></li>
      <li class=''><a href="#">Home</a></li>
    </ul>
  </div>
</nav>
  
<div class="container Intro">
  <h1 class='text-white' id='givenName'><span class='text-red'>Hi,</span> I'm Udhay</h1>
  <h3 class='text-white display-2 subHeading'>A fullstack Developer</h3>

  <h3 class='About-me'>
      <p>
        I enjoy solving complex problems. Frequently praised as Addicted-<br/>
         Coderby my peers, I can be relied upon to help your company<br /> 
        achieve its goals by providing sustainable and scalable solutions.
      </p>
  </h3>


</div>

</body>